﻿/******************************************************************
	* Table of Contents
 ******************************************************************
	* 1. Default Overrides
	* 2. General Classes Styling
	* 3. General Menu Styling
	* 4. Webpages Menu Styling
	* 5. Webpage Styling
	* 6. Footer Styling
	*/

/* 1. Default Overrides */

html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    padding: 0;
}

td {
    padding: 10px;
}

fieldset {
    padding: 0 20px;
    margin: 20px 0;
}

textarea {
    width: 250px;
    height: 100px;
    max-width:500px;
    max-height:200px;
}

/* 2. General Classes Styling */

.page-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.button-container {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    text-align: right;
}

.row {
    margin-bottom: 10px;
}

/* 3. General Menu Styling */
[id$="navigation"] {
    background: #89F599;
    padding-left: 5px;
}

[id$="navigation"] a {
    color: #1D05A3;
    font-size: 25px;
}

[id$="navigation"] ul {
    padding-left: 10px;
    margin-bottom: 0;
    width: 50%;
    display: inline-block;
}

[id$="navigation"] li {
    display: inline-block;
    margin-right: 30px;
}

[id$="navigation"] a:hover {
    font-weight: bold;
    text-decoration: none;
    color: #BC0E12;
}

/* 4. Webpages Menu Styling */

#webpages_navigation {
    background: #FBFD97;
}

#webpages_navigation h3 {
    margin-top: 0;
    padding-top: 10px;
    font-size: 20px;
}

#webpages_navigation ul {
    overflow: auto;
    white-space: nowrap;
    width: 100%;
}

#webpages_navigation a {
    font-size: 18px;
}

#webpages_navigation.alt-menu ul {
    overflow: scroll;
    white-space: normal;
    max-height: 200px;
}

#webpages_navigation.alt-menu li {
    display: block;
}

/* 5. Webpage Styling */

.button-row {
    text-align: right;
}

#MainContent_page_content {
    margin-top: 20px;
}

.row label {
    vertical-align: top;
}

/* 6. Footer Styling */

footer {
    background: #89F599;
}

footer p {
    margin: 20px 0 0 0;
    color: #000;
    text-align: right;
}